*.html
target/*
.svn/*
.idea/*
.settings/*
aaa-automation-tests/.settings/*
*.classpath
*.project
test-output/*
*.log
.externalToolBuilders/*

aaa-automation-ui/test-output/*
aaa-automation-ui/target/*

aaa-automation-tests/external_run_id.txt
aaa-automation-tests/run_id.properties

aaa-automation-tests/test-output/*
aaa-automation-tests/target/*
aaa-automation-tests/src/test/resources/config/local.properties

aaa-automation-tests/src/test/resources/testsuites/debug.xml
aaa-automation-tests/src/test/resources/testsuites/debug-pef.xml
aaa-automation-tests/src/test/resources/testsuites/retry.xml

/.metadata/*
/*.iml
/aaa-automation-tests/*.iml
/aaa-automation-ui/*.iml

aaa-automation-tests/src/test/java/aaa/modules/debug/*
aaa-automation-tests/src/test/resources/testdata/modules/debug/*
aaa-automation-tests/src/test/resources/config/browserpools/DebugBrowserPool.xml
/patches/

aaa-automation-tests/src/test/resources/download/cas_claim_requests/*
aaa-automation-tests/src/test/resources/download/cas_claim_responses/*