{
  "customerNumber" : "",
  "customerType" : "${customerType!BUSINESS_LEAD}",
  "customerStatus" : null,
  "source" : "UNKNOWN",
  "rating" : "UNKNOWN",
  "displayValue" : "Corp584206484",
  "individualDetails" : null,
  "businessDetails" : {
    "legalName" : "Corp584206484",
    "businessType" : "PRTN",
    "dbaName" : null,
    "sicCode" : "0111",
    "naicsCode" : null,
    "legalId" : "74-6487360",
    "dateStarted" : "2006-03-04",
    "taxExemptInd" : false,
    "groupSponsorInd" : true,
    "numberOfContinuous" : null,
    "entityType" : [ ]
  },
  "preferredContactMethod" : null,
  "addresses" : [ {
    "id" : 158073093,
    "contactMethod" : "ADDRESS",
    "contactType" : "legal",
    "preferredInd" : null,
    "doNotSolicitInd" : false,
    "comment" : null,
    "temporary" : false,
    "effectiveFrom" : null,
    "effectiveTo" : null,
    "duration" : null,
    "stateProvCd" : "CA",
    "postalCode" : "90210",
    "countryCd" : "US",
    "addressLine1" : "Address Line 1",
    "addressLine2" : null,
    "addressLine3" : null,
    "city" : "Beverly Hills"
  } ],
  "chats" : [ ],
  "emails" : [ ],
  "phones" : [ ],
  "socialNets" : [ ],
  "webAddresses" : [ ],
  "agencies" : [ {
    "agencyCode" : "QAG"
  } ]
}