{
  "customerType" : "INDIVIDUAL_LEAD",
  "customerStatus" : "QUALIFIED",
  "sourceCd" : "UNKNOWN",
  "ratingCd" : "UNKNOWN",
  "displayValue" : "RestJohn800454 RestSmith580508",
  "brandCd" : "001",
  "preferredSpokenLanguageCd" : "ENGLISH",
  "preferredWrittenLanguageCd" : "ENGLISH",
  "paperless" : false,
  "segments" : [ ],
  "registeredOnline" : false,
  "archived" : false,
  "individualDetails" : {
    "firstName" : "RestJohn800454",
    "lastName" : "RestSmith580508",
    "middleName" : null,
    "title" : null,
    "suffix" : null,
    "nickname" : null,
    "birthDate" : "1985-10-10",
    "genderCd" : null,
    "maritalStatusCd" : null,
    "taxId" : null,
    "deceased" : false,
    "deathDate" : null,
    "deathNotificationReceived" : null,
    "occupationCd" : null,
    "occupationDescription" : null,
    "tobaccoCd" : null,
    "citizenshipCd" : null,
    "interests" : [ ],
    "disabilities" : [ ],
    "designationCd" : null,
    "designationDescription" : null,
    "extensionFields" : { },
    "associateEmployments" : false,
    "associateBusinessEntity" : false
  },
  "businessDetails" : null,
  "extensionFields" : { },
  "preferredContactMethod" : null,
  "addresses" : [ {
    "contactMethod" : "ADDRESS",
    "contactType" : "mailing",
    "preferredInd" : null,
    "doNotSolicitInd" : false,
    "comment" : null,
    "extensionFields" : { },
    "temporary" : false,
    "effectiveFrom" : null,
    "effectiveTo" : null,
    "duration" : null,
    "stateProvCd" : "CA",
    "postalCode" : "94596",
    "countryCd" : "US",
    "addressLine1" : "Address01486",
    "addressLine2" : null,
    "addressLine3" : null,
    "city" : "Walnut Creek",
    "county" : null,
    "inCareOf" : null,
    "subdivision" : null,
    "attention" : null,
    "validationIndicator" : null,
    "latitude" : null,
    "longitude" : null,
    "accuracy" : null,
    "referenceId" : null
  } ],
  "chats" : [ ],
  "emails" : [ ],
  "phones" : [ ],
  "socialNets" : [ ],
  "webAddresses" : [ ],
  "agencies" : [ {
    "agencyCode" : "QAG"
  } ],
  "indCustomerAdditionalNames" : [ ],
  "businessCustomerAdditionalNames" : null,
  "customerEmployments" : null,
  "genericRelationships" : [ ]
}
