{
	"componentName": "${partyComponentName}",
	"nameTypeCd": "IND",
	"firstName": "BenificiaryFName${UID}",
	"lastName": "BenificiaryLName${UID}",
	"contactPreferenceCd": "MAIL",
	"relationShipToInsuredCd": "SELF"
}