{
  "associatedRiskItemOid" : "${riskItemOid}",
  "damageDesc": "Description${UID}",
  "partyType" : "FIRST",
  "addresses": [{
	"componentName": "ClaimsOtherPropertyDamageAddress",
	"addressLine1": "Address${UID}",
	"addressLine2": "",
	"addressLine3": "",
	"city": "Walnut Creek",
	"county": "",
	"countryCd": "US",
	"postalCode": "94596",
	"stateProvCd": "CA",
	"latitude": "123",
	"longitude": "456",
	"addressTypeCd": "contact"
  }]
}