{
	"componentName": "${partyAddressComponentName}",
	"addressTypeCd": "mailing",
	"countryCd": "US",
	"postalCode": "94596",
	"addressLine1": "Address Line 1",
	"addressLine2": "",
	"addressLine3": "",
	"city": "Walnut Creek",
	"stateProvCd": "CA",
	"county": "",
	"longitude": "123",
	"latitude": "456"
}